.container {
    padding: 20px;
}

.float-right {
    display: inline-block;
    text-align: right;
}
/* FIGURE THIS OUT LATER with float-right */

.navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-toggler {
  transition: all 0.3s ease-in-out;
}

.navbar .float-right img {
  transition: all 0.3s ease-in-out;
}

#moon, #sun {
  transition: transform 1s;
}

