/* custom.css */

p {
    white-space: pre;
}

.container {
    padding: 20px;
}

.float-right {
    display: inline-block;
    text-align: right;
}

.float-left {
    display: inline-block;
    text-align: left;
}
/* FIGURE THIS OUT LATER with float-right */

.navbar .navbar-nav .nav-item .nav-link {
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-toggler {
  transition: all 0.3s ease-in-out;
}

.navbar .float-right img {
  transition: all 0.3s ease-in-out;
}

#moon, #sun {
  transition: transform 1s;
}

/* Speech bubble */

.talk-bubble-container {
  position: relative;
}

.talk-bubble {
    position: relative;
    font-family: cursive;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px 0 #888888;
}

.talk-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 61.803398875%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}





