/* dark.css */

body {
  background-color: black;
  color: white;
}

select, select:focus, option, option:focus, .form-control, .form-control:focus {
background-color: #2b2b2b;
color: white;
border-color: grey;
outline: none;
}
/*
option:hover {
    background-color: #7a006a;
    color: white;
}
*/

/* The ::selection psudo-element is for when a user selects text */
::selection {
  background-color: purple;
  color: white;
}

.talk-bubble {
    background: #4f4f4f;
    color: white;
}

.talk-bubble:after {
    border-top-color: #4f4f4f;
}
