<!-- index.html -->

{% extends "base.html" %}

{% block content %}

<div class="talk-bubble-container">
  <div class="talk-bubble">
      <h1>Welcome to the Chores Assignment System!</h1>
    <p>It's a tool developed by <b>Jonathan A. McCormick, Jr.</b> to help families and other co-living groups to optimize their chores assignments.</p>
      <p>Jonathan noticed that when his chores remained consistent, it was easier for him to plan for them. He also noticed that any given chore might have individuals who like it more than others. Therefore, simply rotating chores may not be the best way to do things, especially in a context of diverse preferences and skills of the members. </p>
      <p>By gathering and analyzing data on the group members' individual priorities, skill levels, and preferences, Jonathan hopes that people can find new chore arrangements that work out better for them.</p>
      <h2>How to get started:</h2>
      <p>Do this...[INSERT INSTRUCTIONS HERE]</p>
  </div>
  <div class="talk-bubble-tail"></div>
</div>


<img id="main-image" src="https://cdn.pixabay.com/photo/2012/04/25/09/09/washing-41825_960_720.png" height=auto width=61.803398875% alt="Free Washing Woman vector and picture"/>
{% endblock %}

